node_modules/
.next/
.idea/
ignore/
.DS_Store
package-lock.json
public/static/lang/.messages/
.env*.local
.vercel
cypress/screenshots
.yalc
yalc.lock
.lostpixel
.tool-versions
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Sentry Config File
.sentryclirc

# Sentry Config File
.env.sentry-build-plugin
