import React from 'react'

import SvgFlag{{alpha2Upper}} from 'flag-icon-css/flags/1x1/{{alpha2}}.svg'

export const Flag{{alpha2Upper}} = ({size = 512}) => (
  <SvgFlag{{alpha2Upper}} viewBox='0 0 512 512' height={size} width={size}/>
)
export default Flag{{alpha2Upper}}
