import React from 'react'

import SvgFlag{{alpha2Upper}} from 'flag-icons/flags/1x1/{{alpha2}}.svg'

export const Flag{{alpha2Upper}} = () => (
  <SvgFlag{{alpha2Upper}} viewBox='0 0 512 512' />
)
export default Flag{{alpha2Upper}}
