name: OONI Explorer End-to-End Tests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  cypress-e2e:
    name: E2E Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          build: yarn build
          start: API_MOCKING=enabled yarn start
          wait-on: 'http://localhost:3100'
          browser: chrome
          command-prefix: 'percy exec -- npx'
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}

      - name: Upload screenshots on failure
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
